@font-face{
	font-family: 'LexendDeca';
	src: url('../fonts/LexendDeca-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face{
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.ttf');
	font-weight: 300;
	font-display: swap;
}

@font-face{
	font-family: 'Poppins';
	src: url('../fonts/Poppins-ExtraLight.ttf');
	font-weight: 200;
	font-display: swap;
}

@font-face{
	font-family: 'Poppins';
	src: url('../fonts/Poppins-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}