//All styles can be added here.
$white : #ffffff;
$grey : #5F6368;
$darkgrey : #979797;
$lightgrey : #F6F6F3;
$black : #3F4857;
$brown : #512511;
$darkbrown : #220D03;
$yellow : #FFC107;
$green : #03572D;
$darkgreen: #85B223;
$blue : #80ABDA;
$lightblue : #C0DEDB;
$bgblack : #1E1E1E;
$violet : #6C42DC;
$orange : #FF7A00;

body, html{
  position: relative;
}

.content-wrapper{
  overflow: clip;
}

@layer components {
    body{
        @apply text-white text-xs sm:text-base leading-normal lg:text-lg  xxl:text-xxl font-body;
    }
    h1, .h1{
        @apply text-[42px] lg:text-[56px] xl:text-[84px] xxl:text-[106px] leading-[1.1] font-title;
    }
    h2, .h2{
      @apply text-[32px] lg:text-[44px] xl:text-[56px] xxl:text-[74px] leading-[1.1] font-title;
    }
    h3, .h3{
      @apply text-[22px] lg:text-[24px] xl:text-[26px] xxl:text-[32px] leading-[1.1] font-title; 
    }
    h4, .h4{
        @apply text-[18px] lg:text-[22px] xl:text-[26px] leading-[1.1];
    }
    h5, .h5{
        @apply text-[16px] lg:text-[18px] xl:text-[24px] leading-[1.1];
    }
    p{
        @apply mb-3 sm:mb-6;
    }
    .container{
        @apply mx-auto px-3 lg:px-4;
    }

    input[type=text], input[type=email], input[type=tel], input[type=url], input[type=number], input[type=password]{
      @apply font-body text-xl text-black border-b-2 border-blue bg-[#EFF0F1];
      width: 100%;
      padding: 12px 23px;
    }

    input:focus{
      outline:none!important;
      @apply border-black;
    }
    input::placeholder{
        @apply text-black font-body;
    }

   textarea{
      @apply font-body text-xl text-black border-b-2 border-blue bg-[#EFF0F1];
      width: 100%;
      height: 242px;
      padding: 12px 23px;
    }
    textarea:focus{
        outline:none!important;
        border-color: #2E2554;
    }
    textarea::placeholder{
      @apply text-violet font-body;
    }

    a{
      @apply transition-all text-pink cursor-pointer no-underline inline-block;
      &:hover{
        @apply text-black;
      }
    }

    .btn{
      @apply border transition-all py-[14px] px-3 text-[18px] lg:text-[20px] inline-block w-[200px] lg:w-[300px] max-w-full text-center cursor-pointer no-underline rounded-full;
    }


    .black-btn{
      @apply text-white bg-black border-black;
      &:hover{
        @apply text-white bg-pink border-pink;
      }
    }
    .outline-btn{
      @apply text-white border-white;
      &:hover{
        @apply text-black bg-white border-white;
      }
    }
    .transparent-btn{
      @apply text-black bg-[rgba(255,255,255,0.4)] border-black;
      &:hover{
        @apply text-white bg-black border-black;
      }
    }

    input[type=submit]{
      @extend .btn;
      @apply bg-blue text-white border-blue hover:bg-black hover:border-black;
    }
  }

  svg{
    max-width: 100%;
    height: auto;
  }

 .slick-track
 {
     display: flex !important;
 }
 
 .slick-slide
 {
     height: inherit !important;
 }

.page-decoration{
  position: absolute;
  top: -455px;
  left: 39%;
  transform: translateX(-50%);
  width: 1999px;
}

.video-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(24, 25, 75, 0.8);
}

.home-hero-decoration{
  position: absolute;
  top: -12px;
}

.hero-decoration{
  display: none;
}

#innovation{
  background-image: url(../img/innovation-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.what-we-do-video{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.what-we-do-video-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(66, 101, 255, 0.6);
}

.footer-contact{
  @apply text-base xl:text-[24px];
  & a{
    @apply text-black flex items-center mb-9 gap-10 hover:text-blue;
  }
}