$white : #ffffff;
$grey : #5F6368;
$darkgrey : #979797;
$lightgrey : #F6F6F3;
$black : #1E1E1E;
$brown : #512511;
$darkbrown : #220D03;
$yellow : #FFC107;
$green : #03572D;
$darkgreen: #85B223;
$blue : #80ABDA;
$lightblue : #C0DEDB;
$bgblack : #1E1E1E;
$violet : #6C42DC;
$orange : #FF7A00;
$gold : #AD954F;



@media screen and (min-width: 480px){
 
}


@media screen and (min-width: 640px){

  #our-vision{
    padding-bottom: 590px;
    margin-bottom: -430px;
  }


}

@media screen and (min-width: 768px){
  .home-hero-decoration{
    position: absolute;
    top: -22px;
  }

}

@media screen and (min-width: 992px){
  .main-menu{
    & ul{
      & li{
        & a{
          padding: 70px 25px;
          font-size: 20px;
          letter-spacing: 0.05em;
          color: #fff;
          position: relative;
          &::before{
            content: '';
            width: 0;
            height: 8px;
            background-color: #4265FF;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.3s ease-in-out;
          }
          &::after{
            content: '';
            width: 0;
            height: 8px;
            background-color: #4265FF;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.3s ease-in-out;
          }
          &:hover{
            &:before{
              width: 100%;
            }
            &::after{
              width: 100%;
            }
          }
        }
        &.current-menu-item{
          & a{
            &::before{
              width: 100%;
            }
            &::after{
              width: 100%;
            }
          }
        }
      }      
    }
  }
  .home-hero-decoration{
    position: absolute;
    left: -138px;
  }
  .hero-decoration{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    & img{
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      height: 100%;
      width: auto;
    }
  }

  .page-title-decoration{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    & img{
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      height: 100%;
      width: auto;
    }
  }
  .product-number{
    font-size: 250px;
    &.left{
      left: 50%;
      transform: translateX(-100%);
    }
  }
  #our-vision{
    padding-bottom: 680px;
    margin-bottom: -470px;
  }
}

@media screen and (min-width: 1200px){
  .home-hero-decoration{
    position: absolute;
    left: -138px;
  }
  .hero-decoration{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    & img{
      position: absolute;
      top: 50%;
      right: 150px;
      transform: translateY(-50%);
      height: 100%;
      width: auto;
    }
  }
  .page-title-decoration{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    & img{
      position: absolute;
      top: 50%;
      right: 150px;
      transform: translateY(-50%);
      height: 100%;
      width: auto;
    }
  }
  #our-vision{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1100px;
    margin-bottom: -670px;
  }
}


@media screen and (min-width: 1760px){
  .product-number{
    font-size: 430px;
  }
  #our-vision{
    padding-bottom: 50vw;
    margin-bottom: -35vw;
  }
}

@media screen and (min-width: 1920px){

}